<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css" />
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Tweeter</title>
</head>

<body>
    <main>
        <nav id="nav-bar" class="card-panel blue lighten-2">
            <a id="login" class="right" href="/login">Login</a>
            <a id="singup" class="right" href="/signup">Sign Up</a>
            <!-- <a class="navBtn" href="/login"><i class="small material-icons"></i>Login</a>
            <a class="navBtn" href="/signUp"><i class="small material-icons"></i>Sign Up</a> -->
        </nav>