<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proejct Bandit</title>
</head>
<body>
    <nav>
        <img src="/imgs/bandit-icon.png" alt="LOGO">
        <a href="/login">LOGIN</a>
        <a href="/signUp">SIGN UP</a>
    </nav>

    <h1>TWEETER!</h1>
    
</body>
</html>


