<%- include('../partials/header') %>

<div class="row container">
    <div id="leftBody" class="col s2">
        <a href="/posts"><img id="logoImg"
                src="https://storage.needpix.com/rsynced_images/white-eagle-1484848807TbF.jpg" alt=""></a>
        <a class="asideBtn left" href="/posts"><i class="small material-icons">home</i></a>
        <a class="asideBtn left" href="/explore"><i class="small material-icons">explore</i></a>
        <a class="asideBtn left" href="/notifications"><i class="small material-icons">notifications_none</i></a>
        <a class="asideBtn left" href="/messages"><i class="small material-icons">message</i></a>
        <a class="asideBtn left" href="/profile"><i class="small material-icons">account_circle</i></a>
        <a class="asideBtn left" href="/bookmarks"><i class="small material-icons">bookmark_border</i></a>
        <a class="asideBtn left" href="/more"><i class="small material-icons">more</i></a>
        <br><br><br><br><br>
        <a class="asideBtn left" href="/accounts"><img id="loginIcon"
                src="https://www.nicepng.com/png/detail/501-5010656_my-account-comments-my-account-icon-vector.png"
                alt=""></a>
        <br><br><br><br><br>
</div>

    <div class="col s6">
        <div class="textareaBody">
            <h5 id="homeHeader"><strong>Update</strong></h5>
            <form action="/posts/<%= postId %>?_method=PUT" method="POST">
                <textarea name="text" placeholder="<%= post.text %>"></textarea>
                <a class="asideBtn left" href="/image"><i class="small material-icons">image</i></a>
                <a class="asideBtn left" href="/gif"><i class="small material-icons">gif</i></a>
                <a class="asideBtn left" href="/chart"><i class="small material-icons">insert_chart</i></a>
                <button class="right waves-effect waves-light blue lighten-2 btn" type="sumbit">Tweet</button>
            </form><br><br>
        </div>
    </div>

    <div id="rightBody" class="col s4">
        <input type="text" placeholder="Search Tweeter">
        <h5 id=trendingHeaders><strong>Trends for you</strong>
            <i class="small material-icons">trending_up</i>
        </h5>
        <div class="trendingList">
            <div class="trendingItem">
                <span class="trendHeader">NFL·LIVE</span><br>
                <a href="https://twitter.com/i/events/1364969814763008000">2021 NFL Draft: All the highlights from Round 1</a><br>
                <span class="trendHeader">992k Tweets</span><br>
            </div>
            <div class="trendingItem">
                <span class="trendHeader">Trending</span><br>
                <a href="https://www.nytimes.com/2021/04/29/arts/disaster-girl-meme-nft.html?smid=tw-nytimes&smtyp=cur">'Disaster Girl' is 21 now and just made $500,000 off the meme</a><br>
                <span class="trendHeader">17.5k Tweets</span><br>
            </div>
            <div class="trendingItem">
                <span class="trendHeader">Politics</span><br>
                <a href="https://www.snopes.com/fact-check/85-percent-americans-biden-speech/">Poll that found 85% of viewers approved of Biden's joint session address was based on a largely Democratic audience, according to CBS News and Snopes</a>
                <span class="trendHeader">Snopes 436k Tweets</span><br>
            </div>
            <div class="trendingItem">
                <span class="trendHeader">Sports: Trending</span><br>
                <a href="https://www.indy100.com/sport/european-super-league-memes-jokes-b1834991">The best memes and jokes as the European Super League unravels</a><br>
                <span class="trendHeader">87.4K Tweets</span>
            </div>
            <div class="trendingItem">
                <a href="">#WannaGetAway</a><br>
                <span>Look a low far and get away.</span>
                <span>Promoted by Southwest Airlines</span><br>
                <span class="trendHeader">Ad</span><br>
            </div>
        </div>
        <h4 id=trendingHeaders><strong>Who to follow</strong></h4>
        <div class="followList">
            <table>
                <thead>
                    <tr>
                        <th> </th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img class="followAvatar"
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/68/Joe_Biden_presidential_portrait.jpg/1200px-Joe_Biden_presidential_portrait.jpg"
                                alt=""><a href="">Joe Biden</a></td>
                        <td><a class="waves-effect waves-light blue lighten-2 btn" href="">Follow</a></td>
                    </tr>
                    <tr>
                        <td><img class="followAvatar"
                                src="https://upload.wikimedia.org/wikipedia/en/a/a2/National_Football_League_logo.svg"
                                alt=""><a href="">NFL</a></td>
                        <td><a class="waves-effect waves-light blue lighten-2 btn" href="">Follow</a>
                        </td>
                    </tr>
                    <tr>
                        <td><img class="followAvatar"
                                src="https://i.pinimg.com/originals/5e/af/20/5eaf20e1a08c73f59d40ab3ba5bffaae.png"
                                alt=""><a href="">The New York Times</a></td>
                        <td><a class="waves-effect waves-light blue lighten-2 btn" href="">Follow</a></td>
                    </tr>
                </tbody>
            </table>

            <div>
                <a href="">Show more</a>
            </div>
        </div>
        <div class="legalFooter">
            <a href="">Terms of Service</a>
            <a href="">Privacy Policy</a>
            <a href="">Cookie Policy</a>
            <a href="">Ads info</a>
            <a href="">More</a>
            <span>© 2021 Tweeter, Inc.</span> </div>
    </div>
</div>
<%- include('../partials/footer') %>